h1 {
    background-color:purple;
    width:290px;
    margin:1em auto;
	border-radius:19px/19px;
	font-family:sans-serif;
}

h2 {
    background-color:green;
    width:200px;
    margin:1em auto;
	border-radius:19px/19px;
	font-family:sans-serif;
}

p {
    color:white;
    background-color:black;
    width:480px;
    margin:1em auto;
	border-radius:50px/50px;
}

dl {
    color:white;
    background-color:black;
    width:380px;
    margin:1em auto;
	border-radius:18px/18px;
}

a {
    color:white;
    font-variant: normal;
}

table {
    color: green;
    background-color: black;
    border: 5px groove olive;
    font-family:"Courier New", Courier, monospace;
    font-size: large;
    font-weight:600;
    text-align:left;
    margin:1em auto;
}

body {
    /*background-image: <images/the_devil.jpg>;*/
    text-align:center;
	font-family:sans-serif;
    background-size: cover;
    background-image: url(images/the_devil.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.drop-menu {
    position: fixed;
    /*background-color: teal;*/
    color: gold;
    left: 0px;
    top: 0px
}

.drop-menu ul ul {
    display: none;
}

.drop-menu li:hover > ul {
    left:0px;
    display: block;
}

.flr {
    vertical-align:middle;
}